* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.ttf");
  font-family: opensans;
}

@font-face {
  src: url("../fonts/NotoSans-Regular.ttf");
  font-family: NotoSans;
}

.ad {
  background-color: rgba(0, 0, 0, 0.616);
  padding: 30px 15px;
}

nav {
  background-image: url("../assests/bgcolor.jpg");
}

nav .links-contianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

nav ul.links {
  list-style: none;
}

nav ul.links::after {
  content: "";
  display: block;
  clear: both;
}

nav ul.links li {
  float: left;
  margin-right: 25px;
}

nav ul.links li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #cccc85;
  font-family: opensans;
}

nav ul.links li a:hover {
  color: #999966;
}

.logo {
  position: absolute;
  z-index: 4;
  top: 0;
}

.logo img {
  width: 100px;
}

@media screen and (min-width: 576px) {
  .logo img {
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 150px;
  }
}

.logo-menu-container {
  padding: 5px 15px;
}

@media screen and (min-width: 576px) {
  .logo-menu-container {
    padding: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .logo-menu-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu {
  background-color: #afaf35;
  width: 50px;
  border-radius: 4px;
  padding: 5px 0;
}

.menu span {
  background-color: #fff;
  display: block;
  width: 80%;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  height: 5px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-media {
  margin-left: 20px;
}

.social-media li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.social-media li span {
  width: 35px;
  height: 35px;
  background-color: #996600;
  display: block;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4px;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container form input {
  width: 100%;
  display: block;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.search-container form input:focus {
  outline: 2px solid #996600;
}

.search-container span {
  color: #c3c3c3;
  font-size: 1.7rem;
  margin-left: 10px;
}

.slider-container {
  position: relative;
  background-color: #4e442f;
}

.slider {
  margin-bottom: 0px !important;
}

.slider li {
  background-image: url("../assests/restuarnt.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 320%;
  height: calc(100vh - 107px);
  max-height: 600px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .slider li {
    background-image: url("../assests/banner.jpg");
    background-position: right top;
    background-size: 200%;
  }
}

@media screen and (min-width: 768px) {
  .slider li {
    background-position: right -100px;
    background-size: 150%;
  }
}

@media screen and (min-width: 992px) {
  .slider li {
    background-position: center -100px;
    background-size: 100%;
  }
}

.banner-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-content h2 {
  color: #cccccc;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.banner-content p {
  color: #b1b1b1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.arrow-and-dots {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}

.arrow-and-dots .arrows span {
  color: #b1b1b1;
  font-size: 2rem;
  margin-right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 50px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.slick-dots li {
  margin-right: 20px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: red;
}

.sidenav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.closebtn {
  background-color: #7a7a1d;
  width: 50px;
  border-radius: 4px;
  padding: 5px 0;
  margin: 15px;
}

.closebtn img {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.shownav {
  top: 0;
}

main {
  padding: 100px 0;
  position: relative;
  background-color: #4e442f;
}

main h4 {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

main .img-container {
  height: 200px;
  margin: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.one {
  background-image: url("../assests/type1.jpg");
}

.two {
  background-image: url("../assests/type2.jpg");
}

.three {
  background-image: url("../assests/type3.jpg");
}

.four {
  background-image: url("../assests/type4.jpg");
}

footer {
  background-image: url("../assests/footer.jpg");
  background-size: 100%;
  padding: 20PX 0px;
}

footer .column {
  border-bottom: 1px dotted #686868;
}

footer .column:nth-child(3) {
  border-right: none;
}

@media screen and (min-width: 576px) {
  footer .column {
    border-right: 1px dotted #686868;
  }
}

footer h3 {
  font-family: opensans;
  color: #a9a8a8;
  margin-bottom: 5px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: #c9c9c9;
  text-decoration: none;
  font-family: NotoSans;
  padding: 5px;
  display: block;
  font-size: 14px;
}

footer p {
  font-family: opensans;
  color: #c2c2c2;
  font-size: 13px;
}

footer .copyright {
  text-align: center;
}

footer label, footer input {
  display: block;
  margin-bottom: 5px;
}

footer input {
  padding: 8px 10px;
  width: 100%;
  border-radius: 5px;
  outline: 0;
  border-style: solid;
  border-color: #eee;
}

footer input[type='submit'] {
  padding: 8px 10px;
  text-transform: uppercase;
  background-color: #45cece;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.685);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.685);
}

footer label {
  color: #c9c9c9;
  font-family: NotoSans;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */